@import 'public';

#left {
    width: 375px;
    height: 818px;
    float: left;

    .bn {
        width: 100%;

    }
}

#right {
    width: calc(100% - 375px);
    height: 818px;
    float: left;

    // 头部
    .header {
        height: 80px;
        padding: 20px;
        box-sizing: border-box;
        margin-bottom: 20px;

        // 左边logo部分
        .lt {
            width: 155px;
            height: 40px;
            float: left;
            font-size: 24px;
            font-weight: bold;
            line-height: 40px;

            .img {
                float: left;
            }

            .txt {
                float: right;
            }
        }

        // 右边导航部分
        .rt {
            width: 353px;
            height: 40px;
            float: right;

            .ul1 {
                width: 238px;
                height: 40px;
                float: left;

                .imp {
                    float: left;
                    width: 56px;
                    // line-height: 40px;
                    text-align: center;
                    font-size: 14px;
                    padding: 0 10px;
                    color: #838383;
                    margin-top: 10px;
                }

                a {
                    color: #838383
                }

                .imp1 {
                    border-right: {
                        style: solid;
                        color: #838383;
                        width: 1px;
                    }
                }
            }

            // 语言框
            .rt_xl {
                width: 84px;
                height: 40px;
                float: left;
                font-size: 14px;
                margin-top: 10px;
                margin-left: 10px;

                .ul2 {
                    width: 84px;
                    height: 80px;
                    margin-top: 10px;
                    display: none;

                    .li1 {
                        width: 84px;
                        height: 40px;
                        text-align: center;
                        line-height: 40px;
                    }
                }

            }

            .rt_xl:hover .ul2 {
                display: block;
            }
        }
    }
}